html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  background-color: #000000;
  font-family: "Jacquarda Bastarda 9 Charted", serif;
  font-weight: 400;
  font-style: normal;
}
#my-p5-sketch {
  position: absolute; /*se desencaja del orden */
  z-index: 0; /*organiza las capas*/
}

h1 {
  color: #e09600;
  size: 100;
  font-family: "Jacquard 12", system-ui;
  font-weight: 500;
  font-style: normal;
}

.main {
  position: relative;
  z-index: 1;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 2rem;
}

a {
  color: #d8040f;
  text-decoration: none;
  background-color: #000000;
  display: block;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #46286a;
  border-radius: 10px;
}

.boton {
  margin-block: 2rem;
}

a:hover {
  box-shadow: 0px 5px 20px rgb(211, 137, 41);
  border: 1px solid;
}
